<div class="auth-form">
  <h1>Profile</h1>
  <div>
    <h4>Name</h4>
    <%= user.name %>
  </div>

  <div>
    <h4>Email</h4>
    <%= user.email %>
  </div>

  <div>
    <h4>Role</h4>
    <%= user.role%>
  </div>

  <div>
    <h4>subject(s)</h4>
    <div>
      <%for(var i = 0; i < user.subjects.length; i++){%><a
        href="/subjects/<%= user.subjects[i]%>"
        class="sub-single"
      >
        <%= user.subjects[i]%> </a
      ><%}%>
    </div>
  </div>

  <a href="/updateprofile" class="updateprofile">UPDATE</a>

  <a href="/users/logout"><button class="auth-submit">Logout</button></a>
</div>
<div></div>
